.form{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width:70%;
  margin:auto;
  display:block;
  background-color: rgba(0, 0, 255, 0.3);
  overflow: hidden;
}
input{
  display: inline-block;
  padding-left:10px;
  padding-right:10px;
  padding-top:5px;
  margin:10px;
  padding-bottom:5px;
}
table{
  width:100%;
  height: 100%;
  color: #282c34;
  border: 0px;
  border-collapse: collapse;
}

.content{
  width:100%;
  height:100%;
  display: block;
}

.App {
  text-align: left;
}
.logo-area{
  width:30%;
}
.wrapper-area{
  text-align: center;
}
.title{
  font-size: 60px;
  display: inline-block;
  font-size: calc(20px + 9vmin);
  font-family: 'Harlow Solid Italic';
  color: white;
}

.App-logo {
  height: 50vmin;
  display:inline;
  margin-left: 120px;
  margin-top: 157px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex; */
  flex-direction: column;
  /* align-items: center; */
  /*justify-content: center;  */
  font-size: calc(20px + 9vmin);
  font-family: 'Harlow Solid Italic';
  color: #282c34;
}

.App-link {
  color: #282c34;
}
.info{
  display: block;
  width: 100px;
  height: 100px;
  background-color: #282c34;
}

.button-login{
  display:block;
  margin: 0 auto;
}